/*Main skeleton styles*/
#clipmine-widget-container {
    font-family: Arial;
	overflow: auto;
	background: white;
    height: 125px;
    /*width: 620px;*/
    /*background-color: #e2e2e2;*/
    border:  2px groove rgb(33,33,33);
    padding: 3px;
    font-size: 10pt;
    background-color: rgb(33,33,33);
}

#clipmine-annotation-full {
    position: absolute;
    height: 25px;
    clear: both;
    overflow: hidden;
    top:65px;
    width: 600px;
    background-color: rgb(70,70,70);
    z-index: 1;
    /*background: rgb(205,235,139); *//* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(205,235,139,1) 0%, rgba(205,235,139,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,139,1)), color-stop(100%,rgba(205,235,139,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 ); *//* IE6-9 */
}

#clipmine-magnifier {
    position: relative;
    height: 25px;
    clear: both;
    overflow: hidden;
    /*top:65px;*/
    width: 600px;
    opacity: .5;
    background-color: #add8e6;
    z-index: 5;
    border-radius: 1px;
}

#clipmine-annotation-detail {
    height: 65px;
    position: absolute;
    clear: both;
    overflow: hidden;
    width: 600px;
    padding: 20px;
}

#clipmine-control-container {
    position: relative;
    height: 30px;
    clear: both;
    overflow: hidden;
    margin-top:90px;
    width: 600px;
}

#widget-container .top-row {
    height: 20px;
    clear: both;
    overflow: hidden;
}

#widget-container .bottom-row {
    height: 30px;
    clear: both;
    overflow: hidden;
    width: 100%;
}

#widget-container .bottom-row .clipmine-annotation-add-container {
    font-size: 9pt;
    margin: 0 auto;
    margin-top: 7px;
    /*margin-left: 40px;*/
}

#widget-container .middle-row {
    height: 65px;
    clear: both;
    overflow: hidden;
}

#widget-container .middle-row .video-control {
    float: left;
    width: 40px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

#clipmine-video-dialog {
    overflow: hidden;
}

.annotation-container {
    float: left;
    margin-right: 0px;
    margin-left: 0px;
    width: 550px;
    height: 100%;
}

#top-annotations-container {
    height: 10px;
    position: relative;
    /*margin-top: 5px;*/
    clear: both;
    overflow: hidden;
    width: 100%;
}

/*Search */
.annotation-search-container {
    font-size: 10pt;
}

#search-input {
    /*background-color: rgba(255,255,255,.3);*/
    background-color: white;
    height: 17px;
    border-radius: 3px;
    line-height: 17px;
    border: 1px solid #c0c0c0;
    width: 185px;
    font-size: 9pt;

}

#widget-container  .top {
    position: relative;
    width: 100%;
    height: 50px;
}

#widget-container  .bottom {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #c0c0c0;
}

.ui-dialog .ui-dialog-titlebar {
    display: none;
}

#annotation-timeline {
    position: relative;
    height: 25px;
    border-bottom: 2px groove rgb(70,70,70);
    display: inline-block; 
    width: 550px;
    /*rgb(33,33, 33);*/
    background-color: rgb(70,70,70);
    /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); *//* IE6-9 */
}

.annotation-tag, .marker, .marker-filter {
	float:left;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 20px;
    top: 0px;
	/*color: #989898;*/
    /*background-color: #009e0f;*/
    width: 3px;
    position: absolute;
    cursor: pointer;
    /*border-bottom: 1px solid black;*/
    margin-top: 3px;
    display: none;
    /*background-color: rgb(70,70,70);*/
    /*color: rgb(70,70,70);*/
    background-color: #808080;
    z-index: 5;
}
.marker:hover{
	color: #FFFFFF;
}
.tooltip{
	position: absolute;
	background: #FFFF66;
}

.search-result-container {
    opacity: .6;
}

.search-result {
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0 auto;*/
    padding: 10px;
    /*opacity: .9;*/
    font-weight: bold;
    height: 25px;
    font-size: 8pt;
    /*-webkit-box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, .82);*/
    /*box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .82);*/
    /*background-image: -webkit-linear-gradient(top, #ffffff, #f0f1f5);*/
    /*background-image: -o-linear-gradient(top, #ffffff, #f0f1f5);*/
    /*background-image: -moz-linear-gradient(top, #ffffff, #f0f1f5);*/
    /*background-image: linear-gradient(top, #ffffff, #f0f1f5);*/
    /*background-repeat: repeat-x;*/
}
.search-result a {
    color: black;
}

.coursera-dialog {
    
}

.annotation-label {
    width: auto;
    float: left;
    cursor: pointer;
    margin-left: 7px;
    vertical-align: middle;
    background-color: #3a87ad;
    padding: 2px 4px 3px;
    /*font-weight: bold;*/
    color: #fff;
    /*text-shadow: 0 -1px 0 rgba(0,0,0,0.25);*/
    position: absolute;
    /*max-width: 85px;*/
    overflow: hidden;
    display: none;
    background-color: rgb(66, 139, 202);
}

.annotation-comment {
    float:left;
	padding-bottom: 0px;
	height: 22px;
    position: absolute;
    cursor: pointer;
    display: none;
}

.mode-btn {
    height: 20px;
    font-size: 9pt;
    line-height: 12px;
}

#video-control-button {
    margin-top: 7px;
    margin-left: 7px;
    cursor: pointer;
}

#clear-search {
    font-size: 8pt;
    cursor:pointer;
    display: none;
    float: left;
    margin-left: 10px;
    height: 10px;
}

.youtube-widget {
    width: 640px;
}

.coursera-widget {
    width: 620px;
    margin-top: -9px;
    margin-bottom: 0px;
}

#clipmine-annotation-input {
    width: 200px;
    display: none;
    margin-right: 7px;
    float: right;
    font-size: 9pt;
    margin-top: 5px;
    height: 17px;
    line-height: 17px;
}