<div id="clipmine-widget-container" style="padding: 0px;">
    <div style="position: absolute;">
        <div id="clipmine-annotation-detail">
<!--            <div id="clipmine-detail-mintime" style="position: absolute; top: 0px; left: 0px; font-size: 7pt;">0:00</div>
            <div id="clipmine-detail-maxtime" style="position: absolute; top: 0px; right: 0px; font-size: 7pt;">5:00</div>
            -->
            <!--<span style="position: absolute;" class="label label-default">Default</span>-->
            <!--<span style="position: absolute; left: 33px;" class="label label-default">Default</span>-->
        </div>

        <div id="clipmine-annotation-full">
            <!--<div id="clipmine-magnifier"></div>-->
            <!--<div id="marker-CwjvvxMDDO" class="marker" start-time="6.713143" style="left:26.02892224940254px;/* margin-bottom: 22px; */border-bottom: 1px solid black;" data-original-title="" title="">|</div>-->
            <!--<div id="marker-ZmDe3S8Csp" class="marker" start-time="23.36421" style="left:90.59023552882955px;bottom: 0px;" data-original-title="" title="">|</div>-->
            <!--<div id="marker-XBtbm0JToG" class="marker" start-time="26.602494" style="left:103.14605959774693px;" data-original-title="" title="">|</div>-->
            <!--<div id="marker-zKxFZXb9m1" class="marker" start-time="32.143421" style="left:124.62993951399707px;" data-original-title="" title="">|</div>-->
            <!--<div id="marker-GzVLKbaAty" class="marker" start-time="62.170348" style="left:241.0535801651028px;bottom: 0px;" data-original-title="" title="">|</div>-->
            <!--<div id="marker-wN6xDgwaNx" class="marker" start-time="85.705114" style="left:332.3051138166104px;" data-original-title="" title="">|</div>-->
            <!--<div id="marker-keCBMhmi8q" class="marker" start-time="95.035726" style="left:368.482769243784px;" data-original-title="" title="">|</div>-->
            <!--<div id="marker-VaSGcZAFBD" class="marker" start-time="125.417605" style="left:486.28266808129655px;" data-original-title="" title="">|</div>-->
        </div>

        <div id="clipmine-control-container">
            <div class="search pull-left" style="font-size: 10pt; margin-top: 7px;">
                <form id="search-form" class="navbar-search" style="margin: 0px; " onsubmit="return false;">
                    <input type="text" id="search-input" name="q" class="form-control search-query" placeholder="search">
                    <span class=".glyphicon .glyphicon-remove"></span>
                </form>
            </div>

            <div class="video-control" style="float: right;">
                <span id="video-control-button" state="playing" class="glyphicon glyphicon-pause" style="color: #ffffff;" data-toggle="tooltip" title="Play"></span>
<!--                <span class="glyphicon glyphicon-plus"></span>-->
            </div>

            <div class="clipmine-annotation-add-container" style="float: right;">
                <input id="clipmine-annotation-input" class="form-control input-sm" type="text" placeholder="Enter new tag">
                <span id="clipmine-login-message" style="display: block;">Please <a id="clipmine-login-link" href="http://alpha.clipmineinc.com/login">login</a> or <a id="clipmine-signup-link" href="http://alpha.clipmineinc.com/signup">register</a> to add tags.</span>
            </div>


        </div>
    </div>

    <!--<div class="top-row">-->
        <!--<div class="search pull-left" style="font-size: 10pt;">-->
            <!--<form id="search-form" class="navbar-search" style="margin: 0px; " onsubmit="return false;">-->
                <!--<input type="text" id="search-input" name="q" class="form-control search-query" placeholder="search">-->
                <!--&lt;!&ndash;<span class=".glyphicon .glyphicon-remove"></span>&ndash;&gt;-->
            <!--</form>-->
        <!--</div>-->
        <!--<div id="clear-search">clear</div>-->
        <!--<div class="pull-right">-->
            <!--<div class="btn-group btn-group-xs">-->
                <!--<button type="button" class="mode-btn btn btn-default active" style="height: 20px; font-size: 9pt; line-height: 12px;" mode="tags">Tags</button>-->
                <!--<button type="button" class="mode-btn btn btn-default" style="height: 20px; font-size: 9pt; line-height: 12px;" mode="comments">Comments</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="middle-row">-->

        <!--<div class="annotation-container">-->
            <!--<div id="annotation-timeline" style="position: absolute; margin-top: 14px;">-->
                <!--&lt;!&ndash;<div id="marker-CwjvvxMDDO" class="marker" start-time="6.713143" style="left:26.02892224940254px;/* margin-bottom: 22px; */border-bottom: 1px solid black;" data-original-title="" title="">|</div><div id="marker-ZmDe3S8Csp" class="marker" start-time="23.36421" style="left:90.59023552882955px;bottom: 0px;" data-original-title="" title="">|</div><div id="marker-XBtbm0JToG" class="marker" start-time="26.602494" style="left:103.14605959774693px;" data-original-title="" title="">|</div><div id="marker-zKxFZXb9m1" class="marker" start-time="32.143421" style="left:124.62993951399707px;" data-original-title="" title="">|</div><div id="marker-GzVLKbaAty" class="marker" start-time="62.170348" style="left:241.0535801651028px;bottom: 0px;" data-original-title="" title="">|</div><div id="marker-wN6xDgwaNx" class="marker" start-time="85.705114" style="left:332.3051138166104px;" data-original-title="" title="">|</div><div id="marker-keCBMhmi8q" class="marker" start-time="95.035726" style="left:368.482769243784px;" data-original-title="" title="">|</div><div id="marker-VaSGcZAFBD" class="marker" start-time="125.417605" style="left:486.28266808129655px;" data-original-title="" title="">|</div>&ndash;&gt;-->
            <!--</div>-->
            <!---->
            <!--<div id="top-annotations-container" style="height: 25px; margin-top: 44px; position: absolute; text-align: center;">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="bottom-row">-->
        <!--<div align="center" class="clipmine-annotation-add-container" style="width: 100%;">-->
            <!--<input id="clipmine-annotation-input" class="form-control input-sm" style="width: 200px; display: none; font-size: 9pt; margin: 0 auto; height: 20px; line-height: 20px;" type="text" placeholder="Enter new tag">-->
            <!--<span id="clipmine-login-message" style="display: block;">Please <a id="clipmine-login-link" href="http://test.clipmineinc.com/login">login</a> or <a id="clipmine-signup-link" href="http://test.clipmineinc.com/signup">register</a> to add tags.</span>-->
        <!--</div>-->
    <!--</div>-->
</div>